{% extends "base/base_base.html" %}
{% load static %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
    <div class="text-center mt-5">
        
        <h1>Bienvenido {{ user.username }}</h1>
        <p>Información general del sistema</p>

        <img src="{% static 'accounts/arle.svg' %}" 
             alt="Logo de la empresa" 
             class="login-logo">
             
    </div>

    <style>
        .login-logo {
            max-width: 700px; /* Puedes cambiar este número para hacerlo más grande o chico */
            width: 100%;
            height: auto;
            margin-top: 20px;
        }
    </style>
{% endblock %}

